<div class="py-5 ">
    <div class="container ">
      <div class="row ">
        <div class="col-md-12 h-100">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa mr-2 fa-area-chart text-dark" > &nbsp;Habilidades</i></li>
            <li class="list-group-item"><i class="fa mr-2 fa-id-badge text-dark"></i>&nbsp; <a href="/api/v1/desenvolvedores/dados_edit">Dados pessoais</a> </li>
            <li class="list-group-item"><i class="fa mr-2 text-dark fa-commenting-o"></i> Mensagens</li>
            <li class="list-group-item"><i class="fa mr-2 fa-cogs text-dark"></i> Configurações</li>
            <li class="list-group-item"><i class="fa mr-2 fa-sign-out text-dark"></i> Sair</li>
          </ul>
        </div>
      </div>
    </div>
  </div>