<div class="py-5 text-center">
    <div class="container">
      <div class="row h-75" style="" >
        <div class="mx-auto col-lg-6 col-10">
          <h1>Login</h1>
          <p class="mb-3">Digite suas credenciais</p>
          <p class="mb-3"></p>
          <form class="text-left">
            <div class="form-group"> <label for="form18">Seu e-mail</label> <input type="email" class="form-control" id="form18" placeholder="j.goethe@werther.com"> </div>
            <div class="form-row">
              <div class="form-group col-md-12"> <label for="form19">Password</label> <input type="password" class="form-control" id="form19" placeholder="••••"> </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block my-2">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>