<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body shadow-sm my-2 py-2" style="	border-left-width: 2px;">
              <h5 class="card-title"><b>Programador Android</b></h5>
              <h6 class="card-subtitle my-2 text-muted">São Paulo/Morumbi</h6>
              <p class="card-text">Experiência com Kotlin, MVVM, programção reativa, consumo de API's, elaboração de documentação técnica, UX/UI.<br>Java web, JSF, Hibernate, Struts, Jenkins, Docker, Kubernetes, AWS, Azure, Google Cloud.<br>Desejável inglês técnico, um dinossauro, mestrado em Harvard, não ter sido corno.<br>Diferencial: fumar charuto, colecionar selos, ser Otaku, ter lido Isaac Asimov</p>
              <a href="#" class="card-link">Mais informações</a>
              <a href="#" class="card-link">Candidatar-se</a>
            </div>
            <div class="card-body shadow-sm my-2 py-2" style="	border-left-width: 2px;">
              <h5 class="card-title"><b>Programador Fullstack</b></h5>
              <h6 class="card-subtitle my-2 text-muted">São Paulo/Barueri</h6>
              <p class="card-text">Experiência com Java 1.8 ou superior, JavaFX, padrões de projetos.<br>Java web, JSF, Hibernate, Struts, Jenkins, Docker, Kubernetes, AWS, Azure, Google Cloud.<br>Desejável inglês técnico, um dinossauro, mestrado em Harvard, não ter sido corno.<br>Diferencial: fumar charuto, colecionar selos, ser Otaku, ter lido Isaac Asimov</p>
              <a href="#" class="card-link">Mais informações</a>
              <a href="#" class="card-link">Candidatar-se</a>
            </div>
            <div class="card-body shadow-sm my-2 py-2" style="	border-left-width: 2px;">
              <h5 class="card-title"><b>Programador RPA</b></h5>
              <h6 class="card-subtitle my-2 text-muted">Rio de Janeiro/Copacabana</h6>
              <p class="card-text">Experiência com RPA e softwares de automação, UIPath, JavaBot.<br> Conhecimento em automação de rotinas administrativas.<br>Desejável morar perto da praia.<br>Diferencial: surfar, beber água de coco</p>
              <a href="#" class="card-link">Mais informações</a>
              <a href="#" class="card-link">Candidatar-se</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <ul class="pagination mx-auto" >
            <li class="page-item"> <a class="page-link" href="#">Prev</a> </li>
            <li class="page-item"> <a class="page-link" href="#">1</a> </li>
            <li class="page-item"> <a class="page-link" href="#">2</a> </li>
            <li class="page-item"> <a class="page-link" href="#">3</a> </li>
            <li class="page-item active"> <a class="page-link" href="#">4</a> </li>
            <li class="page-item"> <a class="page-link" href="#">5</a> </li>
            <li class="page-item"> <a class="page-link" href="#">6</a> </li>
            <li class="page-item"> <a class="page-link" href="#">7</a> </li>
            <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>